@font-face {
  font-family: 'Basic';
  src: url('basictitlefont.ttf');
}

html {
	background-color: #efaf86;
}

.front-page-top {
	height: 77px;
}

.front-page-header {
	text-align: center;
	font-family: Verdana, sans-serif;
	color: #000;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 50px;
	font-style: italic;
	text-decoration: line-through;
}

.front-page-image {
	text-align: center;
}

.front-page-footer {
	font-family: 'Basic', sans-serif;
	text-align: center;
	color: #000;
	font-size: 42px;
	letter-spacing: 0.3em;
	font-weight: bold;
	margin-top: 10px;
}

.main-site-container {
	margin-top: 50px;
}

.sidebar {
	border-right: 1px solid #000;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.sidebar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

.sidebar ul li {
	padding-bottom: 10px;
}

h3.logo {
	margin: 0px 0px 20px 0px;
	font-weight: bold;
	font-family: 'Basic', sans-serif;
	font-size: 30px;
	color: #000;
}

/*.container .four.columns.clock {
	height: 86px;
	width: 220px;
}

.container .eight.columns {
	height: 50px;
	width: 460px;
}*/
